.burger {
    height: calc(100% - 31.4px);
    background: $black;
    position: absolute;
    width: 235px;
    right: 0;
    padding: 31.4px 57px 0 57px;
    z-index: 1000;
    display: none;

    &__close {
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            path {
                stroke: $cameo;
            }
        }
    }

    &__description {
        padding: 128.3px 0 57px 0;
    }
}

.contacts-block {
    padding-bottom: 16.2px;

    &__title {
        padding-bottom: 18.5px;
    }

    &__text {
        padding-bottom: 11.5px;
    }
}