.services {
    background: $black;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        transition: 0.3s ease-in-out;
        color: $white;
        outline: none;
        position: relative;

        &:hover {
            color: $cameo;
        }
    }

    &__name {
        margin: 22px 0 59px;
        width: fit-content;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
    }
}