.works {
    background: $black;
    position: relative;

    &__menu {
        margin-bottom: 44.5px;
        text-align: center;
    }

    &__link {
        font-family: 'Cormorant Garamond', serif;;
        font-weight: 400;
        background: transparent;
        margin: 0 22.5px 0;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        position: relative;

        &:hover {
            color: $cameo;
            &::after {
                content: '';
                border: none;
                border-bottom: 1px solid $cameo;
                width: 100%;
                display: block;
                color: $cameo;
                position: absolute;
                padding-top: 3px;
            }
        }
    }

    &__examples {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 56.5px;

        &-img {
            width: 308.8px;
            height: auto;
            margin-bottom: 17.8px;
        }
    }

    &__line {
        padding: 56.5px 0;
    }
}