.homepage-font {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: $white;
}

.headlines {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    margin: 60px auto;
    color: $white;
}

.titles {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: $white;
}

.pretitles {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: $white;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $white;
}