@import './variables';

body {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: $white;
    background: $black;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    width: 68%;
    height: 100%;
}

.line {
    border: 0.5px solid white;
    position: absolute;
    width: inherit;
}

.bottom {
    bottom: 0;
}

.instagram {
    transition: 0.3s ease-in-out;

    &:hover {
        path {
            stroke: #CDAA7D;
        }
    }
}

.display-block {
    display: block !important;
}

.main__img-block {
    position: relative;
    z-index: 10;
    width: fit-content;

    img {
        width: 294px;
        height: auto;
        transition: 0.3s ease-in-out;

        &:hover {
            width: 297px;
            display: flex;
        }
        
    }
    &::after {
        content: '';
        border: 1px solid $cameo;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 14.8px;
        top: -14.8px;
        position: absolute;
        z-index: -1;
    }
}